.button {
  max-width: fit-content;
  border: 2px solid black;
  background-color: white;
  padding: 15px;
}
.addCommentButton {
  max-width: fit-content;
  border: 2px solid black;
  background-color: white;
  padding: 15px;
  margin: 2%;
}

.addCommentContainer {
  margin: 2%;
  padding: 10px;
}
.inputFields {
  width: 100%;
  padding: 15px;
  border: none;
  background: #f1f1f1;
}
.buttonContainer {
  display: flex;
  gap: 20px;
  margin: 2%;
}
